<footer id="footer">
    <div class="legal">
        <section class="legal-part-one">
            <p><a href="index.html">About</a></p>
            <p><a href="index.html">Contact</a></p>
            <p><a href="index.html">Privacy Policy</a></p>
            <p><a href="index.html">Cookie Policy</a></p>
        </section>
        <section class="legal-part-two">
            <p><a href="index.html">Disclaimers</a></p>
            <p><a href="index.html">FAQ & Help Center</a></p>
            <p><a href="index.html">Community Guidelines</a></p>
            <p><a href="index.html">Partnerships</a></p>
        </section>
    </div>
    <div class="footer-links">        
        <p id="copyright">COPYRIGHT &copy; <span id="year"></span><a href="/"> Hera Street 24/7</a></p>
    </div>
    <div class="media-icons">
            <a href="index.html"><img src="icons/pinterest.svg" alt="pinterest"></a>
            <a href="index.html"><img src="icons/instagram.svg" alt="instagram"></a>
            <a href="index.html"><img src="icons/youtube.svg" alt="youtube"></a>
            <a href="index.html"><img src="icons/tiktok.svg" alt="tiktok"></a>
        </div>
</footer>