<footer id="footer">
    <div class="footer-links">        
        <p id="copyright">Copyright &copy; <span id="year"></span><a href="/"> Hera St.</a></p>
        <div class="media-icons">
            <a href="index.html"><img src="icons/pinterest.svg" alt="pinterest"></a>
            <a href="index.html"><img src="icons/instagram.svg" alt="instagram"></a>
            <a href="index.html"><img src="icons/youtube.svg" alt="youtube"></a>
            <a href="index.html"><img src="icons/tiktok.svg" alt="tiktok"></a>
        </div>
    </div>
</footer>