<div id="freejournal">
    <h4>Get FREE Printable Journal Today!</h4>
    <button class="get-journal-btn" id="get-journal">Sign-up Here</button>
</div>

 <!-- Modal Dialog for Get Journal -->
<div id="journal-modal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close" id="close-modal">&times;</span>
        <h2 style="text-align: center;">Get Your Free Journal</h2>
        <form id="journal-form">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="name">Preferred Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="8"></textarea>
        <button type="submit" class="submit-btn">Submit</button>
        </form>
        <div id="thank-you" style="display:none;">
        <h3 style="text-align: center;">Thank you!</h3>
        <p style="text-align: center;">Your request has been received.</p>
        </div>
    </div>
</div>