<header id="header">
    <!-- categories here -->
    <div class="journal-categories">
        <div>
            <a href="partials/widget.html" class="widget-arrow"><img src="icons/arrow.svg" alt="open widget"></a>
            <h2><a href="index.html">Hera St.</a></h2>
            <div id="journal-category-wrapper">
                <button id="journal-category-toggle" aria-label="Toggle categories" aria-expanded="false">&#9776;</button>
                <div id="journal-category" class="collapsed">
                    <ul>
                        <li><a href="#workout">fitness</a></li>
                        <li><a href="#" data-category="Self-Development">self-development</a></li>
                        <li><a href="#" data-category="Leisure">leisure</a></li>
                        <li><a href="#" data-category="Health">health</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <form id="search-form" action="search.html" method="get" class="header-search">
          <input type="text" name="q" id="search-input" placeholder="Search topics..." required>
          <button type="submit">Search</button>
        </form>
        <div id="inquire"></div>
        <div class="light-dark-mode">
            <img src="icons/light.svg" alt="light mode" class="light-mode">
            <img src="icons/dark.svg" alt="dark mode" class="dark-mode">
        </div>
    </div>
    <div class="home-hero">
        <div class="hero-text">
            <h1><a href="index.html">Hera Street</a></h1>
            <h3>A Weight Loss & Anti-Aging Blog ― by Hera</h3>
            <p>“I just want to melt my five years' worth of belly fat, get 8 hours of sleep and wake up happy."</p>
        </div>
    </div>
    <div id="main-nav"></div>
    <!-- light/dark mode here -->
</header>