<div id="header-hera">
    <a href="/hera/index.html"><img src="/icons/hera-white.svg" alt="Hera Logo" class="logo"></a>
    <button id="menu-toggle" aria-label="Toggle navigation" style="display: none;">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </button>
    <nav>
        <ul>
            <li><a href="#home-hera">Hera</a></li>
            <li><a href="#projects-hera">Latest Works</a></li>
            <li><a href="#services-hera">Services</a></li>
            <li><a href="/#about" target="_blank">Contact</a></li>
            <li><a href="/" target="_blank">Instagram</a></li>
            <li><a href="/" target="_blank">Blog</a></li>
        </ul>
</div>