<div id="header-hera">
    <a href="/hera/index.html"><img src="/icons/hera-white.svg" alt="Hera Logo" class="logo"></a>
    <nav>
        <ul>
            <li><a href="#home-hera">Hera</a></li>
            <li><a href="#projects-hera">Latest Works</a></li>
            <li><a href="#services-hera">Services</a></li>
            <li><a href="/" target="_blank">Contact</a></li>
            <li><a href="/" target="_blank">Instagram</a></li>
            <li><a href="/" target="_blank">Blog</a></li>
        </ul>
</div>