<section id="left-column">
    <div class="column-title">
        <h2>Quote Donec pede justo, fringilla vel</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        <a href="/">Learn More ⤐</a>
    </div>
    <div class="column-title">
        <h2>Quote Donec pede justo, fringilla vel</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        <a href="/">Learn More ⤐</a>
    </div>
    <div class="column-title">
        <h2>Quote Donec pede justo, fringilla vel</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        <a href="/">Learn More ⤐</a>
    </div>
</section>