<section id="left-column">
    <div class="column-title">
        <h2>Challenges in Solo Living</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        <button class="learn-more"><a href="index.html">LEARN MORE ⤐</a></button>
    </div>
    <div class="column-title">
        <h2>Camping in Japan</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        <button class="learn-more"><a href="index.html">LEARN MORE ⤐</a></button>
    </div>
    <div class="column-title">
        <h2>Staying Fit Along Aging</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        <button class="learn-more"><a href="index.html">LEARN MORE ⤐</a></button>
    </div>
</section>