<section id="left-column">
    <div class="column-title">
        <h2>Challenges in Solo Living</h2>
        <p>Living alone can bring freedom, but also presents challenges like...</p>
        <button class="learn-more"><a href="index.html">LEARN MORE ⤐</a></button>
    </div>
    <div class="column-title">
        <h2>Camping in Japan</h2>
        <p>I've always admired Fukuouka and its beautiful parks, making it a perfect spot for...</p>
        <button class="learn-more"><a href="index.html">LEARN MORE ⤐</a></button>
    </div>
    <div class="column-title">
        <h2>Staying Fit Along Aging</h2>
        <p>Why do many Asians born in the 90s look much younger than they should?</p>
        <button class="learn-more"><a href="index.html">LEARN MORE ⤐</a></button>
    </div>
</section>