<section id="right-column">
    <div class="column-title">
        <h2>Couldn't Lose Weight in Asia</h2>
        <p><a href="/">14-Day Belly Fat Battle</a></p>
        <p><a href="/">Weight Loss Holiday at Home</a></p>
        <button class="learn-more"><a href="index.html">LEARN MORE ⤐</a></button>
    </div>
    <div class="column-title">
        <img src="https://images.unsplash.com/photo-1517451330947-7809dead78d5?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Kiki's Basket">
        <h2>Visit Kiki's Basket</h2>
        <p>Meet Kiki and discover her happy daily life with Hera!</p>
        <button class="learn-more"><a href="index.html" style="font-size: 12pt;">LEARN MORE ⤐</a></button>
    </div>
    <div class="column-title">
        <img src="https://images.unsplash.com/photo-1491864483946-1f06be97b71d?auto=format&fit=crop&w=800&q=80" alt="Widget Image" />
        <h2>Learn New Skills</h2>
        <p>Education has no limits. Explore new opportunities and expand your horizons.</p>
        <button class="learn-more"><a href="index.html">START HERE ⤐</a></button>
    </div>
</section>