<section id="right-column">
    <div class="column-title">
        <h2>SUPPORT KIKI'S BASKET</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        <a href="/">BUY ME A DRINK ⤐</a>
    </div>
    <div class="column-title">
        <img src="https://images.unsplash.com/photo-1491864483946-1f06be97b71d?auto=format&fit=crop&w=800&q=80" alt="Widget Image" />
        <h2>Get FREE Weight Loss Exercises</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        <a href="/">SIGN-UP ⤐</a>
    </div>
    <div class="column-title">
        <h2>Quote Donec pede justo, fringilla vel</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        <a href="/">LEARN MORE ⤐</a>
    </div>
</section>