<section id="right-column">
    <div class="column-title">
        <h2>Couldn't Lose Weight in Asia</h2>
        <p>14-Day Belly Fat Battle</p>
        <p>Weight Loss Holiday at Home</p>
        <button class="learn-more"><a href="index.html">LEARN MORE ⤐</a></button>
    </div>
    <div class="column-title">
        <h2>Visit Kiki's Basket</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        <button class="learn-more"><a href="index.html" style="font-size: 12pt;">LEARN MORE ⤐</a></button>
    </div>
    <div class="column-title">
        <img src="https://images.unsplash.com/photo-1491864483946-1f06be97b71d?auto=format&fit=crop&w=800&q=80" alt="Widget Image" />
        <h2>Learn New Skills</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        <button class="learn-more"><a href="index.html">START HERE ⤐</a></button>
    </div>
</section>