<section id ="widget">
    <div class="column-title">
        <h2><a href="#">Quote Donec pede justo, fringilla vel</a></h2>
    </div>
    <div class="column-title">
        <h2><a href="#">Quote Donec pede justo, fringilla vel</a></h2>
    </div>
    <div class="column-title">
        <h2><a href="#">Quote Donec pede justo, fringilla vel</a></h2>
    </div>
    <div class="media-icons">
        <a href="/"><img src="icons/pinterest.svg" alt="pinterest"></a>
        <a href="/"><img src="icons/instagram.svg" alt="instagram"></a>
        <a href="/"><img src="icons/youtube.svg" alt="youtube"></a>
        <a href="/"><img src="icons/tiktok.svg" alt="tiktok"></a>
    </div>
</section>