<section id ="widget">
    <img src="images/herra.jpg" alt="Hera" class="hera-image">
    <h1>Hi! It's Hera.</h1>
    <div class="column-title">
        <h3><a href="#">Better Mind, Better Days</a></h3>

    <div class="column-title">
        <h3><a href="#">Creating Space for Connection</a></h3>
    </div>
    <div class="column-title">
        <h3><a href="#">Step 1 to Wellness: Step Back</a></h3>
    </div>
    <div class="media-icons">
        <a href="/"><img src="icons/pinterest.svg" alt="pinterest"></a>
        <a href="/"><img src="icons/instagram.svg" alt="instagram"></a>
        <a href="/"><img src="icons/youtube.svg" alt="youtube"></a>
        <a href="/"><img src="icons/tiktok.svg" alt="tiktok"></a>
    </div>
</section>